src
example
node_modules
.gitignore
.npmignore
package-lock.json
tslint.json
tsconfig.json
webpack.config.js
webpack-next.config.js
.npmrc
.babelrc
build
tests
example
_config.yml
logo.png
.travis.yml
coverage
.vscode